<!-- <div  [hidden]="virtualRouter.routerActive==='login'" class="hk-wrapper" data-layout="vertical" data-layout-style="default" data-menu="light" data-footer="simple" data-hover="active">
 -->
<div>



  <app-home [hidden]="virtualRouter.routerActive!=='home'"></app-home>
  <app-header [hidden]="virtualRouter.routerActive!=='header'"></app-header>
  <app-footer [hidden]="virtualRouter.routerActive=='footer'"></app-footer> 


</div>
<!--   <div class="hk-wrapper hk-pg-auth" data-footer="simple" [hidden]="virtualRouter.routerActive!=='login'" >
 -->
<div>
  <!-- <app-login></app-login> -->
</div>