<!-- <div  [hidden]="virtualRouter.routerActive==='login'" class="hk-wrapper" data-layout="vertical" data-layout-style="default" data-menu="light" data-footer="simple" data-hover="active">
 -->
<div>


<!--    

 <app-vertical-nav [hidden]="virtualRouter.routerActive=='settings'"></app-vertical-nav>
  <app-settings [hidden]="virtualRouter.routerActive!=='settings'"></app-settings>
  
  <app-admin-home [hidden]="virtualRouter.routerActive!=='admin-home'"></app-admin-home> -->

  <!-- <app-user-home [hidden]="virtualRouter.routerActive!=='user-home'"></app-user-home> -->
  <!-- <app-top-navbar [hidden]="virtualRouter.routerActive=='top-navbar'"></app-top-navbar> 
  
  <app-home-user [hidden]="virtualRouter.routerActive=='home-user'"></app-home-user>  -->


  <!-- <app-user-payments [hidden]="virtualRouter.routerActive!=='user-payments'"></app-user-payments>
  <app-user-requests [hidden]="virtualRouter.routerActive!=='user-requests'"></app-user-requests> -->
  <app-home [hidden]="virtualRouter.routerActive!=='home'"></app-home>
  <app-top-navbar [hidden]="virtualRouter.routerActive!=='top-navbar'"></app-top-navbar>
  <app-footer [hidden]="virtualRouter.routerActive=='footer'"></app-footer> 


</div>
<!--   <div class="hk-wrapper hk-pg-auth" data-footer="simple" [hidden]="virtualRouter.routerActive!=='login'" >
 -->
<div>
  <!-- <app-login></app-login> -->
</div>