<footer id="site-footer" class="site-footer background four-columns">
  <div class="footer">
    <div class="section-padding">
      <div class="section-container">
        <div class="block-widget-wrap">
          <div class="row">
            <div class="col-lg-4 col-md-6 column-4 col-6">
              <div class="block block-menu m-b-20">
                <h2 class="block-title">Contact Us</h2>
                <div class="block-content">
                  <ul>
                    <li>
                      <span>Address:</span> Nort Carolina - USA
                    </li>
                    <li>
                      <span>Tel:</span> 01743 234500
                    </li>
                    <li>
                      <span>Email:</span> <a href="mailto:support">support</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="block block-social">
                <ul class="social-link">
                  <li><a ><i class="fa fa-twitter"></i></a></li>
                  <li><a ><i class="fa fa-instagram"></i></a></li>
                  <li><a ><i class="fa fa-dribbble"></i></a></li>
                  <li><a ><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 column-4 col-6">
              <div class="block block-menu">
                <h2 class="block-title">Pages</h2>
                <div class="block-content">
                  <ul>
                    <li>
                      <a (click)="virtualRouter.setRoute('contact')">Contact Us</a>
                    </li>
                    <li>
                      <a (click)="virtualRouter.setRoute('about')">About us</a>
                    </li>
                    <li>
                      <a (click)="virtualRouter.setRoute('faq')">FAQ</a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 column-4 col-6">
              <div class="block block-menu">
                <h2 class="block-title">Catalog</h2>
                <div class="block-content">
                  <ul *ngFor="let category of yeoman.allcategory;let i = index"  (click)="setPreview(i)" style="cursor: pointer;">
                    <li>
                      <a href="#">{{category.name}}</a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="section-padding">
      <div class="section-container">
        <div class="block-widget-wrap">
          <div class="row">
            <div class="col-md-6">
              <div class="footer-left">
                <p class="copyright">Copyright © 2024.  Todos los derechos reservados. Desarrollado por <a href="https://www.buckapi.com" target="_blank">Buckapi</a>  </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="footer-right">
                <div class="block block-image">
                  <img width="309" height="32" src="assets/mary/media/payments.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>